@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}


:root{
    ---azul_escuro:#3E3C4C;
    ---azul_bebe:#9BF2FE;
    ---background-body:#E0E0E0;
    ---font-principal: "Assistant", sans-serif; 
}


.nav-acessibilidade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 88px;
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: var(---azul_escuro);
    border-bottom: 1px solid var(---azul_bebe);
}

.nav-acessibilidade .links-menu ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-acessibilidade .links-menu ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}


.nav-acessibilidade .links-menu ul li span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(---font-principal);
    background-color: var(---azul_bebe);
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 50%;
    color: var(---azul_escuro);
    font-size: 14px;
}

.nav-acessibilidade .links-menu ul li a{
    font-family: var(---font-principal);
    color: var(---background-body);
    font-weight: 600;
}

.nav-acessibilidade .fontes-contraste{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-acessibilidade .fontes-contraste .fonts{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(---background-body);
    font-family: var(---font-principal);
    font-weight: 600;
}
.nav-acessibilidade .fontes-contraste .fonts button{
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(---azul_bebe);
    color: var(---azul_escuro);
    font-weight: 600;
}
.nav-acessibilidade .fontes-contraste .contraste{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(---font-principal);
    color: var(---background-body);
    font-weight: 600;
}
.nav-acessibilidade .fontes-contraste .contraste button{
    display: flex;
    color: var(---background-body);
    background-color: transparent;
    border: none;
    cursor: pointer;
}




.cabecalho{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(---azul_escuro);
    padding: 0 88px;
    margin-top: 43px;
    height: 9vh;
    width: 100%;
    text-decoration: none;
    text-shadow: 0px -1px 0px 3px #7c798e;
}

.cabecalho .logo{
    width: 100%;
}

.cabecalho .button-entrar{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background-color: var(---azul_bebe);
    border-radius: 5px;
    color: var(---azul_escuro);
    font-weight: 900;
    font-family: var(---font-principal);
    text-transform: uppercase;
}

.cabecalho .btn-menu{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cabecalho .btn-menu span{
    font-size: 30px;
    color: var(---azul_bebe);
    pointer-events: none;
}

.cabecalho .menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}


.cabecalho .menu ul{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cabecalho .menu button{
    display: flex;
    color: #E0E0E0;
    font-weight: bold;
    font-family: "Assistant", sans-serif;
    transition: all .5s ease-in-out;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.cabecalho .menu ul li a{
    display: flex;
    color: #E0E0E0;
    font-weight: bold;
    font-family: "Assistant", sans-serif;
    transition: all .2s ease;
    padding: 8px 20px;
    border-radius: 5px;
}






/* Hover e focus */

.cabecalho .menu ul li a:hover, .cabecalho .menu button:hover {
    color: var(---azul_bebe);
}
.cabecalho .menu ul li a:focus, .cabecalho .menu button:focus{
    background-color: #7c798e;
    color: var(---azul_escuro);
}

/* Fim Hover e focus */


body{
    background-color: var(---background-body);
}

body.active{
    overflow: hidden;
}


.content{
    margin-top: 14vh;
}


.content .search-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
}

.content .search-filter .search{
    display: flex;
    align-items: center;
}

.content .search-filter .search input{
    width: 430px;
    height: 48px;
    border: 1px solid #3e3c4c32;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    padding: 0 0 0 20px ;
    font-size: 20px;
}
.content .search-filter .search input::placeholder{
    font-family: var(---font-principal);
    font-size: 16px ;
}
.content .search-filter .search .btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 50px;
    border: none;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    background-color: var(---azul_bebe);
    color: var(---azul_escuro);
    cursor: pointer;
    transition:  .2s all;
}

.content .search-filter .filter{
    display: flex;
    align-items: center;
}
.content .search-filter .filter .btn-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 10px;
    cursor: pointer;
    width: 50px;
    height: 48px;
    border: none;
    border-radius: 10px;
    transition: .2s all;
    outline: none;
}
.content .search-filter .filter .btn-filter span{
    font-size: 30px;
    pointer-events: none;
}
.content .search-filter .filter .btn-filter .text-filter{
    display: none;
    font-family: var(---font-principal);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    pointer-events: none;
}




/* Modal filtro */
.content .modal-filtro{
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000040;
}
.content .modal-filtro .filtros-modal{
    display: none;
    position: absolute;
    top: 15%;
    background-color: #fff;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    transform: scale(0);
    visibility: hidden;
    transition: visibility 0s linear 0.25s, transform 0.25s;
}
.content .modal-filtro .filtros-modal .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(---font-principal);
    font-size: 18px;
    width: 100%;
    padding: 5px;
    color: var(---azul_escuro);
    border-bottom: 2px solid #ccc;
    margin: 0  0 20px 0;
}
.content .modal-filtro .filtros-modal .filtros{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
    row-gap: 20px;
    margin-bottom: 20%;
}

.content .modal-filtro .filtros-modal .filtros .form-local form input{
    width: 100%;
    height: 45px;
    padding: 0 0 0 20px;
    font-family: var(---font-principal);
    font-size: 18px;
    border: 2px solid #cccccc8a;
    border-radius: 5px;
}

.content .modal-filtro .filtros-modal .filtros .btns-modelo-trabalho{
    width: 100%;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding: 0 0 20px;
}
.content .modal-filtro .filtros-modal .filtros .btns-modelo-trabalho .modelo{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: var(---font-principal);
    font-size: 17px;
    font-weight: 500;
}

.content .filtros-modal .limpa-busca{
    width: 100%;
    padding: 20px;
    border-top: 2px solid #ccc;
}
.content .filtros-modal .limpa-busca form{
    display: flex;
    justify-content: space-around;
}

.content .filtros-modal .limpa-busca form input{
    font-family: var(---font-principal);
    cursor: pointer;

}
.content .filtros-modal .limpa-busca form input[type="reset"]{
    width: 100px;
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
}

.content .filtros-modal .limpa-busca form input[type="submit"]{
    height: 50px;
    width: 190px;
    background-color: var(---azul_bebe);
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: var(---azul_escuro);
    transition: .2s all;
}


/* Fim  Modal filtro */



/* Interativadade */

.content .modal-filtro .filtros-modal .filtros .btns-modelo-trabalho .modelo.checked{
    background-color: var(---azul_bebe);
    color: var(---azul_escuro);
}


.content .modal-filtro.active{
    display: flex;
}

.content .modal-filtro .filtros-modal.open{
    transform: scale(1);
    visibility: visible;
    transition:  visibility 0s linear 0s, transform 0.25s;
    display: flex;
    justify-content: space-around;
}

/* Fim Interativadade */


/* Hover, Focus, Active */
.content .filtros-modal .limpa-busca form input[type="submit"]:hover{
    background-color: rgb(124, 155, 160);
}

.content .search-filter .search input:focus{
    outline: 2px solid var(---azul_bebe);
}

.content .search-filter .filter .btn-filter:active, .content .search-filter .search .btn-search:active{
    scale: .9;
}
.content .search-filter .filter .btn-filter:hover{
    background-color: var(---azul_bebe);
}
.content .search-filter .search .btn-search:hover{
    background-color: #75b5bdaf;
}
.sidebar-menu .nav-menu a:hover{
    background-color: #a8a4bb3f;
    color: var(---azul_escuro);
    border-radius: 5px;
}
.sidebar-menu .nav-menu .color-blue:hover{
    color: var(---azul_bebe);
    background-color: transparent;
}

/* Fim  Hover, Focus, Active */


.sidebar-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(---azul_escuro);
    width: 0;
    max-width: 250px;
    transition: width .4s ease;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    /* z-index: 10; */
}

.modal-sidebar{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #ffffff23;
}
.sidebar-menu .btn-close{
    position: absolute;
    right: 0;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(---background-body);
    cursor: pointer;
}
.sidebar-menu .btn-close span{
    pointer-events: none;
}
.sidebar-menu .nav-menu{
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    align-content: center;
    width: 100%;
    line-height: 180%;
    margin: 50px 0;
}
.sidebar-menu .nav-menu a{
    font-family: var(---font-principal);
    font-size: 20px;
    color: var(---background-body);
    padding: 10px;
    margin: 0 20px;
    white-space: nowrap;
}
.sidebar-menu .nav-menu .wrap, .sidebar-menu .nav-menu .redes{
    white-space: wrap;
}



/* Interatividade */
.sidebar-menu.open{
    width: 250px;
    max-width: 300px;
}
.modal-sidebar.show{
    display: flex;
}
/* Fim Interatividade */



hr{
    margin: 0 auto;
    width: 70%;
    border: 1.5px solid #cccc;
    margin-bottom: 4vh;
}

/* section container buttons */

.container{
   display: flex;
}

.tab-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.tab-btn{
    border-radius: 5px;
    width: 60%;
    height: 4vh;
    border: none;
    background-color: var(---background-body);
    cursor: pointer;
    font-family: var(---font-principal);
    font-weight: bold;
    font-size: 16px;
    color: var(---azul_escuro);
    width: 100%;
}

.tab-btn.active{
    background-color: var(---azul_bebe);
}

.buttons-container{
    display: flex;
    justify-content: center;
    border: 2px solid #ccc;
    width: 75%;
    padding: 5px;
    border-radius: 5px;
}

.tab-contents .content.show{
    display: flex;
    margin-top: 0;
}

.tab-contents .content{
    display: none;
    justify-content: center;
    margin-bottom: 4vh;
}

.tab-contents .content .box-container{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    gap: 10px;
}
.tab-contents .content .box-container .box-vagas{
    /* display: flex;
    flex-direction: column; */
    row-gap: 10px;
    background-color: #fff;
    padding: 20px;
    width: 370px;
    border-radius: 30px;
    
}

.tab-contents .content .box-container .box-vagas .titulo{
    font-family: var(---font-principal);
    color: #3e3c4c8a;
    font-size: 16px;
    margin-bottom: 10px;
}
.tab-contents .content .box-container .box-vagas .descricao-vaga{
    font-family: var(---font-principal);
    font-weight: bold;
    color: var(---azul_escuro);
    font-size: 18px;
    width: 200px;
    margin-bottom: 8px;
}
.tab-contents .content .box-container .box-vagas .localizacao-estado{
    display: flex;
    align-items: center;
    color: #3e3c4c8a;
    gap: 5px;
    margin-bottom: 10px;
}
.tab-contents .content .box-container .box-vagas .data{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #3E3C4C;
    font-weight: 500;
    font-family: var(---font-principal);
}


/* Fim container buttons */



/* section alert-vagas */
.content .alert-vagas{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 3.4em;
    width: 70%;
}

.content .alert-vagas .email-button{
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 10px;
    width: 75%;
}


.content .alert-vagas .texts{
    width: 90%;
    font-family: var(---font-principal);
    font-size: 20px;
}

.content .alert-vagas .email-button input[type="submit"]{
    width: 90%;
    height: 50px;
    color: var(---azul_escuro);
    background-color: var(---azul_bebe);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s;
}
.content .alert-vagas .email-button input[type="email"]{
    outline: none;
    width: 90%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 18px;
}
.content .alert-vagas .email-button input[type="email"]::placeholder{
    font-family: var(---font-principal);
    font-weight: 500;
}

.content .alert-vagas .email-button input[type="email"]:focus{
    outline: 3px solid var(---azul_bebe);
}
.content .alert-vagas .email-button input[type="submit"]:hover{
    background-color: #8b8b8b;
    color: var(---background-body);
}



/* Fim section alert-vagas */


/* Footer */
.footer{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(---azul_escuro);
    width: 100%;
    height: 122px;
    row-gap: 10px;
    font-family: var(---font-principal);
    color: var(---background-body);
    font-weight: 600;
}

.footer .redes{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .redes span img{
    width: 25px;
}
/* Fim Footer */






/* Resposividade */
@media only screen and (max-width:552px) and (min-width:320px) {
    .cabecalho {
    display: flex;
    align-items: center;
    height: 55px;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    gap: 30px;
    position: fixed;
    top: 0;
    padding: 0 30px;
    }

    .nav-acessibilidade{
        display: none;
    }
    .cabecalho .menu{
        display: none;
    }

    .cabecalho .menu ul{
        display: none;
    }

    .cabecalho .btn-menu{
        display: flex;
    }

    .content .search-filter{
        margin: 14vh 30px 0;
        flex-direction: column;
        row-gap: 20px;
    }

    .content .search-filter .search input{
        width: 100%;
    }

    .content .search-filter .filter{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #ccc;
        border-top: 2px solid #ccc;
        padding: 2px 0;
        height: 50px;
        width: 100%;
        margin: 0 0 30px;
    }

    .content .search-filter .filter .btn-filter{
        display: flex;
        width: 450px;
        height: 10px;
        padding: 15px 0;
        border-radius: 10px;
        transition: .2s all;
    }
    .content .search-filter .filter .btn-filter .text-filter{
        display: flex;
    }

    .sidebar-menu{
        display: flex;
    }


    .content .modal-filtro .filtros-modal{
        position: fixed;
        width: 100%;
        bottom: 0;
    }


    .content .filtros-modal .limpa-busca form input[type="submit"]{
        width: 145px;
    }
    

    hr{
        display: none;
    }
    
    .tab-btn{
        align-items: start;
        line-height: 74%;
    }

    .tab-buttons{
        margin: 0 5px 20px;

    }
    .buttons-container{
        width: 100%;
    }
    .content .alert-vagas{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        width: 100%;
       padding: 0 20px;
    }
    .content .alert-vagas .texts{
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center;
        gap: 10px;
    }
    .content .alert-vagas .texts h2{
        text-align: center;
    }
    .content .alert-vagas .texts p{
        text-align: center;   
    }

    .content .alert-vagas .email-button{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .content .alert-vagas .email-button input[type="email"], .content .alert-vagas .email-button input[type="submit"]{
        width: 100%;
    }
    /* Hover, Focus, Active */

.content .search-filter .filter .btn-filter:hover{
    background-color: #a6a6a6;
}
.content .search-filter .filter .btn-filter:active{
    scale: 0.9;
}
/* Fim  Hover, Focus, Active */
}

/* Fim Resposividade */

